<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ExpressTasks - Home</title>
    <link rel="icon" href="assets/logo-cwbg.png">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
<header>
    <nav>
        <a href="#">
            <h1>ExpressTasks</h1>
        </a>
        <ul>
            <li>
                <a href="#the-problem">Problem</a>
            </li>
            <li>
                <a href="#our-solution">Our Solution</a>
            </li>
            <li>
                <a href="#about-us">About Us</a>
            </li>
            <li>
                <a href="/sign-up" id="btn-sign-up" class="btn-outlined">Sign Up</a>
            </li>
            <li>
                <a href="/sign-in" id="btn-sign-in" class="btn">Sign In</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <div id="the-problem"></div>
        <h2>Problem</h2>
        <div class="image-pos">
            <div class="text-content">
                <p>Many people struggle to keep track of their tasks and to-dos. They often forget important tasks and
                    deadlines, which can lead to stress and anxiety. </p>
                <p>This is especially true for people with busy schedules and multiple responsibilities. </p>
                <p>ExpressTasks is a simple and intuitive app that helps you stay organized and on top of your
                    tasks. </p>
                <p> With ExpressTasks, you can easily create, manage, and prioritize your tasks from anywhere, at any
                    time. Say goodbye to missed deadlines and hello to a more productive you! </p>
            </div>
            <div class="image-container">
                <img src="/assets/tasking_process.svg" alt="Tasking process">
            </div>
        </div>
    </section>
    <section class="our-solution">
        <div id="our-solution"></div>
        <h2>Our Solution</h2>
        <div class="image-pos">
            <div class="image-container">
                <img src="/assets/next_task.svg" alt="Next task">
            </div>
            <div class="text-content">
                <p>ExpressTasks is a task management app that helps you stay organized and on top of your tasks. With
                    ExpressTasks, you can easily create, manage, and prioritize your tasks from anywhere, at any
                    time. </p>
                <p>Here are some of the key features of ExpressTasks: </p>
                <ul>
                    <li>Simple and intuitive interface</li>
                    <li>Easy task creation and editing</li>
                    <li>Task prioritization and due dates</li>
                    <li>Task categories and tags</li>
                    <li>Task reminders and notifications</li>
                    <li>Task sharing and collaboration</li>
                </ul>
                <p>ExpressTasks is designed to be user-friendly and accessible to everyone. Whether you're a student, a
                    professional, or a busy parent, ExpressTasks can help you stay organized and on top of your
                    tasks. </p>
                <p> Try ExpressTasks today and say goodbye to missed deadlines and hello to a more productive you!</p>
            </div>
        </div>
    </section>
    <section class="about-us">
        <div id="about-us"></div>
        <h2>About Us</h2>
        <div class="image-pos">
            <div class="text-content">
                <p>ExpressTasks was founded in 2024 by a developer who wanted to create a simple and intuitive task
                    management app. </p>
                <p>His objective was to help people stay organized and on top of their tasks, so they can be more
                    productive and less stressed. </p>
                <p>The developer is dedicated to providing the best possible experience for his users. He is constantly
                    improving and updating ExpressTasks to make it even better. </p>
                <p>He listens to the users' feedback and suggestions, and he is always looking for ways to make
                    ExpressTasks more useful and user-friendly. </p>
                <p>Try ExpressTasks today and see how it can help you stay organized and on top of your tasks. Say
                    goodbye to missed deadlines and hello to a more productive you! </p>
            </div>
            <div class="image-container">
                <img src="assets/tasks.svg" alt="Tasks list">
            </div>
        </div>
    </section>
</main>
<footer>
    <p>Manage your tasks efficiently with ExpressTasks!</p>
    <p>&copy; 2024 ExpressTasks. All rights reserved.</p>
</footer>
</body>
</html>