<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ExpressTasks - Task</title>
    <link rel="icon" href="assets/logo-cwbg.png">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="styles/tasks.css">
</head>
<body>
<header>
    <a href="#">
        <h1>ExpressTasks</h1>
    </a>
</header>
<main>

</main>
<footer>
    <p>Manage your tasks efficiently with ExpressTasks!</p>
    <p>&copy; 2024 ExpressTasks. All rights reserved.</p>
</footer>
</body>
</html>