@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* Blue teal -> 42, 193, 174 */

body {
    font-family: "Times New Roman", sans-serif;
    background-image: url("assets/bg.webp");
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    font-size: 1.1rem;
    display: flex;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;

    h1 {
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        color: rgb(42, 193, 174);
        font-style: normal;
        user-select: none;
        font-weight: 400;
        margin: 15px 0;
    }
}

header {
    box-shadow: 0 2px 2px gray;
    background-color: #f4f4f4;
    justify-content: center;
    position: sticky;
    display: flex;
    z-index: 999;
    width: 100%;
    top: 0;
}

main {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label,
a,
h2 {
    user-select: none;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    label {
        font-size: 1rem;
        margin-bottom: 5px;
        color: #333333;
    }

    input, select {
        border: 2px solid #333;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;

        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        transition-duration: .1s;

        &:focus {
            outline: none;
            border-color: rgb(42, 193, 174);
        }
    }
}

.btn {
    background-color: rgb(42, 193, 174);
    border: 1px solid rgb(42, 193, 174);
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    width: 35%;
    text-align: center;

    &:hover {
        background-color: #f4f4f4;
        color: rgb(42, 193, 174);
        border: 1px solid rgb(42, 193, 174);
        border-radius: 5px;
        cursor: pointer;
    }
}

.btn-outlined {
    border: 1px solid rgb(42, 193, 174);
    border-radius: 5px;
    padding: 10px 20px;
    color: rgb(42, 193, 174);
    width: 35%;
    text-align: center;

    &:hover {
        background-color: rgb(42, 193, 174);
        color: #f4f4f4;
        border-radius: 5px;
        cursor: pointer;
    }
}

.drop-down {
    position: relative;
    display: inline-block;

    &:hover .drop-down-content {
        display: block;
    }

    &:hover .drop-down-btn {
        background-color: rgb(31, 140, 127);
        color: #ffffff;
    }

    .drop-down-btn {
        border: 2px solid rgb(42, 193, 174);
        color: rgb(42, 193, 174);
        align-items: center;
        border-radius: 10px;
        text-align: left;
        font-size: 16px;
        cursor: pointer;
        padding: 10px;
        display: flex;
        width: 250px;
    }

    .drop-down-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;

            &:hover {
                background-color: #f1f1f1
            }
        }
    }
}

.profile-picture-container {
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 8px;
    border: 2px solid rgb(42, 193, 174);
    display: flex;
    height: 40px;
    width: 40px;

    img {
        width: 100%;
        object-fit: contain;
    }
}

footer {
    box-shadow: 0 -2px 2px gray;
    background-color: #f4f4f4;
    text-align: center;
    position: sticky;
    padding: 20px 0;
    width: 100%;
    color: #333;
    bottom: 0;
}
